# Node modules
node_modules/

# Build outputs
build/
cache/
artifacts/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Coverage and test outputs
coverage/
.nyc_output/
debug.log
test-results/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Ganache
ganache_db/

# Logs
*.log


